.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans',
    sans-serif;
}
body{
    background-color: hsl(185, 75%, 39%);
    background-image: url("bg-pattern-top.svg"),url("bg-pattern-bottom.svg");
    background-position: right 46vw bottom 30vh, left 45vw top 60vh;
    background-repeat: no-repeat;
    width:100vw;
}
h1{
    font-size: 18px;
    color:hsl(229, 23%, 23%);
}
p{
    font-size: 14px;
    color:hsl(227, 10%, 46%);
}
main{
    
    justify-content: center;
    align-items: center;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    width:350px;
    height: 375px;
    border-radius: 15px;
    overflow:hidden;
    position: relative;
}
.foto-box{
width: 350px;
height: 140px;
background-image: url("bg-pattern-card.svg");
}
.foto{
    width:100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    border: 5px solid white;
    display: flex;
    margin-left: 37%;
    margin-right: auto;
    margin-top: 85px;
}
.text{
    height: 235px;
    width: 350px;
    background-color: #ffffff;
}
.heading{
    width:135px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    word-spacing: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span{
    color:hsl(227, 10%, 46%);
    font-weight: 400;
}
.heading p{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    width:50px;
}
.stats-box{
    border-top: 1px solid hsl(0, 0%, 92%);
    display: grid;
    margin-top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    width:350px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}
.stats{
    text-align: center;
}

.stats p{
    letter-spacing: 1px;
    font-size: 10px;
    
    
}
@media (max-width:375px){
    .body{
        background-position: right 48vw bottom 40vh,
        left 45vw top 44vh;
    }
.card{
    width:330px;
}
.stats-box{
    width: 330px;
}
}